.container {
  text-align: center;
  line-height: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.secondlayer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.categorybar {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.category {
  color: white;
  margin: 25px 30px;
}

.category1 {
  /* color: black; */
  margin: 50px 30px 50px;
  font-weight: 600;
  font-size: smaller;
}

.productcontiner {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.product {
  margin: 35px 30px 0px 30px;
  vertical-align: top;
  display: inline-block;
  /* text-align: center; */
}

.product img {
  width: 240px;
  height: 340px;
  object-fit: cover;
}

.product1 {
  margin: 35px 20px 0px 25px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.caption {
  display: block;
  text-align: left;
  line-height: 100%;
}

.misslogo {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

.pic {
  margin: 1.5% 0 1.5% 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pic img {
  margin: 0.5% 0 0.5% 0;
  padding: 0 20px;
  width: 600px;
  height: auto;
}

.categorylink {
  background-color: #f1f0f0;
  width: 1200px;
  height: 50px;
  justify-content: center;
  margin: auto;
  padding: 35px 20px;
}

.categorylink a {
  font-size: 30px;
}

.categoryfooter {
  background-color: #f1f0f0;
  width: 100%;
  height: 200px;
}

.footercontainer {
  justify-content: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconbar {
  display: flex;
  justify-content: center;
}

.iconbar1 {
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  /* justify-content: center; */
}

.iconicon {
  width: 12px;
  height: 12px;
  margin: 0 20px;
}

.iconicon1 {
  display: none;
  width: 15px;
  height: 15px;
  margin: auto 50px;
}

span.d {
  line-height: 100%;
}

.copyrightlayer {
  background-color: black;
  width: 100%;
  height: 60px;
  text-align: center;
  align-content: center;
  padding: 15px;
}

.copyrightlayer p {
  color: white;
  font-size: smaller;
}

.shopbar {
  position: relative;
}
.shopbar img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.shopbar div {
  position: absolute;
  left: 20%;
  top: 50%;
}

.detailcontainer {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 1200px;
  margin: 0 auto;
  /* align-items: center; */
}

.detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  top: 5%;
}

.detail h1 {
  font-size: 30px;
  padding-top: 30px;
}

.underlinetext {
  position: relative;
  padding-bottom: 10px;
  display: inline;
}

.underlinetext::before {
  position: absolute;
  height: 5px;
  content: "";
  width: 100%;
  background-color: #df8688;
  bottom: 0;
}

h2.underlinetext {
  font-size: 15px;
  font-weight: 600;
}

.textp {
  width: 100%;
  display: block;
  text-align: left;
  line-height: 200%;
  padding: 30px 0 0 0;
}

.ratingstar {
  display: flex;
  padding: 10px 0 50px;
  /* align-items: center; */
}

.ratingstar img {
  width: 25px;
  padding-right: 5px;
  height: auto;
}

hr.new3 {
  border-top: 1px dotted black;
  width: 50px;
  position: absolute;
  margin-top: 30px;
  margin-bottom: 30px;
}

.productdetail {
  display: flex;
  align-items: baseline;
  padding-bottom: 30px;
  height: 10px;
}

.productdetail1 {
  display: flex;
  align-items: baseline;
  padding-top: 50px;
}

.clickedlink {
  color: #2b83c3;
  padding: 5px 0;
  font-size: 15px;
  font-style: bold;
  font-weight: 500;
}

.button {
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  color: black;
  border-radius: 4px;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  line-height: 50%;
}

.buttonnone {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(204, 204, 204);
  color: black;
  border-radius: 4px;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50px;
  line-height: 50%;
}

.button:hover {
  border: 1px solid orange;
}

.fontSize {
  font-size: 20px;
}

.underlined {
  text-decoration: underline;
  padding: 0 5px;
  font-weight: bold;
  line-height: 200%;
}

.shoptop {
  width: 1200px;
  margin-left: -600px;
  font-weight: bold;
  font-size: 30px;
  position: fixed;
}

.dotv {
  display: flex;
  height: 10px;
  content: "";
  position: relative;
  border-left: 1px dotted #444;
}

#linethrough {
  text-decoration: line-through;
  text-decoration-color: #df8688;
  padding-right: 10px;
}

@media screen and (max-width: 400px) {
  .container {
    text-align: center;
    line-height: 0px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .misslogo {
    width: 20%;
    height: auto;
  }

  .secondlayer {
    display: inline;
  }

  .categorybar {
    display: none;
  }

  .pic {
    margin: 1.5% 0 1.5% 0;
    width: auto;
  }

  .pic img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  #rect {
    width: 300px;
    height: auto;
    padding: 5% 0;
  }

  #rect1 {
    width: 300px;
    height: 430px;
    object-fit: cover;
  }

  .category1 {
    margin: 10px;
    font-weight: 600;
    font-size: smaller;
  }

  .productcontiner {
    display: flex;
    flex-direction: column;
  }

  .product {
    width: 300px;
    height: auto;
  }

  .product img {
    width: 300px;
    height: auto;
  }

  .product1 img {
    width: 300px;
  }

  .caption {
    display: block;
    text-align: left;
    line-height: 100%;
  }

  .pic {
    /* margin: 1.5% 0 1.5% 0; */
    position: relative;
    width: auto;
  }

  .categorylink {
    background-color: #f1f0f0;
    width: 300px;
    height: 50px;
  }

  .categorylink a {
    font-size: 12.5px;
  }

  .categoryfooter {
    background-color: #f1f0f0;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
  }

  .footercontainer {
    justify-content: center;
  }

  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iconbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .iconbar1 {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding: 20px 0;
  }

  .iconicon {
    width: 12px;
    height: 12px;
    margin: auto 10px;
  }

  .iconicon1 {
    display: block;
    width: 15px;
    height: 15px;
    margin: auto 50px;
  }

  .logobar {
    display: flex;
  }

  span.d {
    line-height: 100%;
  }
}

.iconbar {
  display: flex;
  justify-content: center;
}

/* .copyrightlayer {
  background-color: black;
  width: 400px;
  height: 60px;
  text-align: center;
  align-content: center;
  padding: 15px;
}

.copyrightlayer p {
  color: white;
  font-size: smaller;
} */
