.container {
  text-align: center;
  line-height: 0px;
  width: 1920px;
}

.piccontainer {
  width: 50%;
}

.categorybar {
  background-color: black;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
}

.category {
  color: white;
  margin: 25px 30px;
}

.category1 {
  /* color: black; */
  margin: 50px 30px 50px;
  font-weight: 600;
  font-size: smaller;
}

.productcontiner {
  display: flex;
  flex-direction: row;
}

.product {
  margin: 35px 20px 0px 25px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 180px;
}

.product1 {
  margin: 35px 20px 0px 25px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.caption {
  display: block;
  text-align: left;
  line-height: 100%;
}

.misslogo {
  width: 100px;
  height: auto;
  margin: 30px auto;
}

.pic {
  margin: 1.5% 0 1.5% 0;
  position: relative;
}

.categorylink {
  background-color: #f1f0f0;
  width: 1100px;
  height: 50px;
  justify-content: center;
  margin: auto;
  padding: 35px 20px;
}

.categoryfooter {
  background-color: #f1f0f0;
  width: 1920px;
  height: 200px;
}

.footercontainer {
  justify-content: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconbar {
  display: flex;
  justify-content: center;
}

.iconbar1 {
  display: flex;
  justify-content: center;
}

.iconicon {
  width: 12px;
  height: 12px;
  margin: 0 20px;
}

span.d {
  line-height: 100%;
}

@media screen and (max-width: 400px) {
  .misslogo {
    width: 20%;
    height: auto;
    margin: 30px auto;
    padding-top: 5%;
  }

  .categorybar {
    display: none;
  }

  .pic {
    margin: 1.5% 0 1.5% 0;
    width: auto;
  }

  .pic img{
    width: 200px;
    height: 400px;
    object-fit: cover;
  }

.second{
  display: flex;
  justify-content: center;
  width: 50%;
}

  .category1 {
    /* color: black; */
    margin: 10px;
    font-weight: 600;
    font-size: smaller;
  }

  .productcontiner div {
    display: flex;
    flex-direction: column;
  }

  .product {
    /* margin: 35px 20px 0px 25px; */
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 20%;
    height: auto;
  }

  .product1 {
    /* margin: 35px 20px 0px 25px; */
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 100px;
    height: auto;
  }

  .caption {
    display: block;
    text-align: left;
    line-height: 100%;
  }

  .pic {
    /* margin: 1.5% 0 1.5% 0; */
    position: relative;
    width: auto;
  }

  .categorylink {
    background-color: #f1f0f0;
    width: 50%;
    height: 50px;
    justify-content: center;
    margin: auto;
    padding: 35px 20px;
  }

  .categoryfooter {
    background-color: #f1f0f0;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footercontainer {
    justify-content: center;
  }

  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iconbar {
    display: flex;
    justify-content: center;
  }

  .iconbar1 {
    display: flex;
    flex-direction: column;
  }

  .iconicon {
    width: 12px;
    height: 12px;
    margin: auto 20px;
  }

  span.d {
    line-height: 100%;
  }
}
