.container {
  text-align: center;
  line-height: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.secondlayer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.piccontainer {
  width: 50%;
}

.categorybar {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.category {
  color: white;
  margin: 25px 30px;
}

.category1 {
  /* color: black; */
  margin: 50px 30px 50px;
  font-weight: 600;
  font-size: smaller;
}

.productcontiner {
  display: flex;
  flex-direction: row;
}

.product {
  margin: 35px 20px 0px 25px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 180px;
}

.product1 {
  margin: 35px 20px 0px 25px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.caption {
  display: block;
  text-align: left;
  line-height: 100%;
}

.misslogo {
  width: 100px;
  height: auto;
  margin: 30px auto;
}

.pic {
  margin: 1.5% 0 1.5% 0;
  position: relative;
}

.categorylink {
  background-color: #f1f0f0;
  width: 1100px;
  height: 50px;
  justify-content: center;
  margin: auto;
  padding: 35px 20px;
}

.categoryfooter {
  background-color: #f1f0f0;
  width: 100%;
  height: 200px;
}

.footercontainer {
  justify-content: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconbar {
  display: flex;
  justify-content: center;
}

.iconbar1 {
  display: flex;
  justify-content: center;
}

.iconicon {
  width: 12px;
  height: 12px;
  margin: 0 20px;
}

.iconicon1 {
  display: none;
  width: 15px;
  height: 15px;
  margin: auto 50px;
}

span.d {
  line-height: 100%;
}

.copyrightlayer {
  background-color: black;
  width: 100%;
  height: 60px;
  text-align: center;
  align-content: center;
  padding: 15px;
}

.copyrightlayer p {
  color: white;
  font-size: smaller;
}

.shopbar {
  position: relative;
}
.shopbar img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.shopbar div {
  position: absolute;
  left: 30%;
  top: 50%;
}

@media screen and (max-width: 400px) {
  .container {
    text-align: center;
    line-height: 0px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .piccontainer {
    width: 80%;
  }

  .misslogo {
    width: 20%;
    height: auto;
  }

  .secondlayer {
    display: inline;
  }

  .categorybar {
    display: none;
  }

  .pic {
    margin: 1.5% 0 1.5% 0;
    width: auto;
  }

  .pic img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  #rect {
    width: 300px;
    height: auto;
    padding: 5% 0;
  }

  #rect1 {
    width: 300px;
    height: 430px;
    object-fit: cover;
  }

  .category1 {
    margin: 10px;
    font-weight: 600;
    font-size: smaller;
  }

  .productcontiner {
    display: flex;
    flex-direction: column;
  }

  .product {
    width: 300px;
    height: auto;
  }

  .product img {
    width: 300px;
    height: auto;
  }

  .product1 img {
    width: 300px;
  }

  .caption {
    display: block;
    text-align: left;
    line-height: 100%;
  }

  .pic {
    /* margin: 1.5% 0 1.5% 0; */
    position: relative;
    width: auto;
  }

  .categorylink {
    background-color: #f1f0f0;
    width: 300px;
    height: 50px;
  }

  .categorylink a {
    font-size: 12.5px;
  }

  .categoryfooter {
    background-color: #f1f0f0;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
  }

  .footercontainer {
    justify-content: center;
  }

  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .iconbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .iconbar1 {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding: 20px 0;
  }

  .iconicon {
    width: 12px;
    height: 12px;
    margin: auto 10px;
  }

  .iconicon1 {
    display: block;
    width: 15px;
    height: 15px;
    margin: auto 50px;
  }

  .logobar {
    display: flex;
  }

  span.d {
    line-height: 100%;
  }
}

.iconbar {
  display: flex;
  justify-content: center;
}

/* .copyrightlayer {
  background-color: black;
  width: 400px;
  height: 60px;
  text-align: center;
  align-content: center;
  padding: 15px;
}

.copyrightlayer p {
  color: white;
  font-size: smaller;
} */
